<wrapper>
  <ng-container *myDirective="let strings of dataSource">
    <hello *ngFor="let str of strings" name="{{ str }}"></hello>
  </ng-container>
</wrapper>
<p>
  Start editing to see some magic happen :)
</p>